container_commands:
  05-run-db-migrations:
    command: "/opt/elasticbeanstalk/support/export_envvars && chown -R www-data:www-data . && sudo -u www-data composer install -o"
    cwd: "/var/app/staging"
    ignoreErrors: false
    leader_only: false
    env:
      COMPOSER_HOME: /usr/bin
      COMPOSER_CACHE_DIR: /tmp
