container_commands:
  20-run-php-unit-tests:
    command: "/opt/elasticbeanstalk/support/export_envvars && chown -R www-data:www-data . && sudo -u www-data composer test"
    cwd: "/var/app/staging"
    ignoreErrors: false
    leader_only: true
    env:
      COMPOSER_HOME: /usr/bin
      COMPOSER_CACHE_DIR: /tmp
    test: "[ \"$APP_STAGE\" = \"INTEG\"  ]"
