files:
   "/opt/elasticbeanstalk/hooks/appdeploy/pre/02_configure_override.sh":
      mode: "000755"
      owner: root
      group: root
      content: |
         #!/usr/bin/env bash
         cd /opt/elasticbeanstalk/
         grep -rl 'php_apache_env' . | xargs -I'{}' sed -i '/php_apache_env/d' '{}'
   "/opt/elasticbeanstalk/hooks/preinit/99_install_nginx.sh":
      mode: "000755"
      owner: root
      group: root
      content: |
         #!/usr/bin/env bash
         /opt/elasticbeanstalk/hooks/appdeploy/pre/02_configure_override.sh

         set -e
         EB_APP_STAGING_DIR=$(/opt/elasticbeanstalk/bin/get-config container -k app_staging_dir)
         cd $EB_APP_STAGING_DIR

         yum -y update
         yum -y install nginx php56-fpm

         cp -f .ebextensions/configuration/nginx.conf /etc/nginx/nginx.conf
         rm -rf /etc/nginx/virtual.conf

         mkdir -p /var/www
         ln -s /var/app/current /var/www/html
         chown -R webapp:webapp /var/www
   "/opt/elasticbeanstalk/hooks/appdeploy/pre/99_install_nginx_conf.sh":
      mode: "000755"
      owner: root
      group: root
      content: |
         #!/bin/bash
         EB_APP_STAGING_DIR=$(/opt/elasticbeanstalk/bin/get-config container -k app_staging_dir)
         cd $EB_APP_STAGING_DIR

         if hash httpd 2>/dev/null; then
            /opt/elasticbeanstalk/hooks/preinit/99_install_nginx.sh
         fi

         cp -f .ebextensions/configuration/site.conf /etc/nginx/conf.d/site.conf
   "/opt/elasticbeanstalk/hooks/appdeploy/enact/99_reload_app_server.sh":
      mode: "000755"
      owner: root
      group: root
      content: |
         #!/usr/bin/env bash
         set -e
         apachectl stop
         service nginx restart
         service php-fpm restart
   "/opt/elasticbeanstalk/hooks/appdeploy/post/01_monitor_httpd_pid.sh":
      mode: "000755"
      owner: root
      group: root
      content: |
         #!/bin/bash
         set -xe
         chmod 0755 /var/run/httpd
         /opt/elasticbeanstalk/bin/healthd-track-pidfile --proxy nginx
